/* Compiled LESS Document

	\`*-.
	 )  _`-.
	.  : `. .
	: _   '  \
	; *` _.   `*-._
	`-.-'          `-.
	  ;       `       `.
	  :.       .        \
	  . \  .   :   .-'   .
	  '  `+.;  ;  '      :
	  :  '  |    ;       ;-.
	  ; '   : :`-:     _.`* ;
		.*' /  .*' ; .*`- +'  `*'
	`*-*   `*-*  `*-*'

Max Hurl 2016 */


/*- resets -*/

*{
 	padding:0;
 	margin:0;
}

@font-face {
  font-family: 'glacialindifference-bold';
  src: url('../fonts/glacialindifference-bold-webfont.eot');
  src: url('../fonts/glacialindifference-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glacialindifference-bold-webfont.woff') format('woff'),
       url('../fonts/glacialindifference-bold-webfont.ttf') format('truetype'),
       url('../fonts/glacialindifference-bold-webfont.svg#nevisBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'glacialindifference-regular';
  src: url('../fonts/glacialindifference-regular-webfont.eot');
  src: url('../fonts/glacialindifference-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glacialindifference-regular-webfont.woff') format('woff'),
       url('../fonts/glacialindifference-regular-webfont.ttf') format('truetype'),
       url('../fonts/glacialindifference-regular-webfont.svg#nevisBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*- general -*/

body{
	font-family:'glacialindifference-regular', sans-serif;
	background:#1e1f1f;
	color:#161d24;
	line-height:20px;
	font-size:62.5%;
}

h1, h2, h3, h4, h5, strong {
	font-family:'glacialindifference-bold', sans-serif;
}

h1 {
	font-size: 3em;
	padding-bottom: 8px;
}

h2{
	font-size: 2.5em;
	padding-bottom: 15px;
  line-height: 1.1em;
}

h3{
	font-size: 1.5em;
}

p, li  {
  font-size:1.5em;
}

.small-text {
  p, li  {
    font-size:1.4em;
  }
}

a, a:active, a:focus, a:hover {
	color:#161d24;
}

ul {
	list-style: none;
}

footer {
  a, a:active, a:focus, a:hover, p{
    color: #575b5b;
    font-size: 14px;
  }
}

@media screen and (max-width: 479px) {

  body {
    font-size:48%;
  }

  h1 {
		padding-bottom: 6px;
	}

	h2 {
		padding-bottom: 8px;
	}

  .hidden-mobile{
    display: none;
  }
}


/*- content -*/

ul.triangle.left{
  direction: ltr;
  padding-left: 2em;
}

ul.triangle.right{
  direction: rtl;
  padding-right: 2em;
}

ul.triangle li{
  list-style-image:url('/static/images/triangle.svg');
}

#content-container, footer{
	max-width: 500px;
	margin: 0 auto;
	position: relative;
}

footer {
	text-align: center;
	top: -20px;
}

canvas {
  display: block;
  margin: 0 auto;
}

section {
	position: absolute;
	width: 54%;
  display: flex;
  align-items: center; /* align inner items vertically */
}

#content-container section:nth-child(odd) {
	text-align: right;
	right:0;
  padding-right: 30px;
  justify-content: flex-end;
}

#content-container section:nth-child(even) {
	left:0;
  padding-left: 30px;
 justify-content: flex-start;
}

.small-text {
  #content-container section:nth-child(odd) {
    padding-right: 20px;
  }

  #content-container section:nth-child(even) {
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {

  #content-container section:nth-child(odd) {
    padding-right: 15px;
  }

  #content-container section:nth-child(even) {
    padding-left: 15px;
  }

  .small-text {
    #content-container section:nth-child(odd) {
      padding-right: 11px;
    }

    #content-container section:nth-child(even) {
      padding-left: 11px;
    }
  }

  section {
    width: 61%;
  }
}

