/* CSS Document 

	\`*-.                   
	 )  _`-.                
	.  : `. .               
	: _   '  \              
	; *` _.   `*-._         
	`-.-'          `-.      
	  ;       `       `.    
	  :.       .        \   
	  . \  .   :   .-'   .  
	  '  `+.;  ;  '      :  
	  :  '  |    ;       ;-.
	  ; '   : :`-:     _.`* ;
		.*' /  .*' ; .*`- +'  `*'
	`*-*   `*-*  `*-*'       

Max Hurl 2011
For desktops and tablets*/

/*- resets -*/
*{
 		padding:0;
 		margin:0;
}

@font-face {
    font-family: 'Nevisfont';
    src: url('../fonts/nevis-webfont.eot');
    src: url('../fonts/nevis-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nevis-webfont.woff') format('woff'),
         url('../fonts/nevis-webfont.ttf') format('truetype'),
         url('../fonts/nevis-webfont.svg#nevisBold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*- main -*/
body{
	font-family:'Nevisfont', sans-serif;
	background:#6b797e;
	color:#485053;
	line-height:24px;
	}

section{
	width:400px;
	height:680px;
	margin:40px 0 80px 160px;
	padding:40px;
	float:left;
	z-index:5;
	position: absolute;
	
	background:#6b797e;

	}

h1{
	background:url('../images/maxhurl-400.gif');
	width:400px;
	height:118px;
	display: block;
	text-indent:-999px;
	}

h2{
	margin:40px 0 26px 0;
	}

p,h2{
	font-size: 22px;
	font-weight:normal;
	}

p{
	margin-top: 32px;
	}

ul{
	list-style: none;	
	}
	ul a{
		color:#a5afb2;
		font-size: 16px;
		text-decoration: none;
		transition: padding 0.4s ease-in-out;
		-moz-transition: padding 0.4s ease-in-out; 
		-webkit-transition: padding 0.4s ease-in-out; 
		-o-transition: padding 0.4s ease-in-out;
		}
	ul a:hover,ul a:active{
		padding-left:20px;
		outline:none;
		}
	
canvas{
	position: absolute;
	}