/* CSS Document 

       __  (\_ 
      (_ \ ( '> 
        ) \/_)=
        (_(_ )_

Max Hurl 2011
Main file */


/*- resets -*/
*{
 		padding:0;
 		margin:0;
}

/*- structure -*/
body{
	font-family: Helvetica,Arial, sans-serif;
	background:#6b797e;
	color:#394044;
	line-height:20px;
	font-size:14px;
	}
	
canvas{
	position: absolute;
	}
	
.twoCol div{
	width:50%;
	float:left;
}

h1{
	display: block;
	text-indent:-999px;
}

/* content */
ul{
	/*list-style: none;*/	
	}

p{
	font-weight:normal;
	}

address{
	font-style: normal;
}

a{
	color:inherit;
}
	a:hover{
		color:#2a3438;
	}
	
ul li h5{
	font-weight: bold;
	font-size: inherit;
}
	
