{% extends "base.html" %}

{% block title %}CV{% endblock %}

{% block javascript %}
    window.setupCanvas(8, 'canvas-container');
{% endblock %}


{% block content %}

    <section>
        <div>
            <h1>Max Hurl</h1>
            <p>Mobile Apps &amp; Web Development</p>
            <a href="mailto:max@maxhurl.co.uk?Subject=We%20read%20your%20CV%20and...&body=YOU%27RE%20HIRED" title="Email Max">max@maxhurl.co.uk</a>
        </div>
    </section>

    <section>
        <div>
            <p>I am a final year Digital Media Development student at Brighton University developing my career and love for development, design and digital media in general. I am looking to start my career at a creative and dynamic company that</p>
        </div>
    </section>

    <section>
        <div>
            <h2>DabApps</h2>
            <h3>July 2012 - Now</h3>
            <p>I am a final year Digital Media Development student at Brighton University developing my career and love for development, design and</p>
            <p>I am a final year Digital Media Development student at Brighton University developing my career and love for development, design and</p>
        </div>
    </section>

{% endblock %}