{% extends "base.html" %}

{% block title %}CV{% endblock %}

{% block javascript %}
    window.setupCanvas('canvas-container', 'content-container', 280);
{% endblock %}

{% block bodyclass %}small-text{% endblock %}

{% block content %}

    <section>
        <div>
            <h1>Max Hurl</h1>
            <p>Mobile Apps &amp; Web Development</p>
            <p><a href="mailto:max@maxhurl.co.uk?Subject=We%20read%20your%20CV%20and...&body=YOU%27RE%20HIRED" title="Email Max">max@maxhurl.co.uk</a></p>
        </div>
    </section>

    <section>
        <div>
            <h2>Profile</h2>
            <p>I’m a full stack web and mobile app developer who enjoys taking projects from initial requirements through to finished product while contributing to all layers of technical work. I like to test my skills by learning and using new technologies/tools but understand the risks of utilising bleeding edge tooling in production.</p>
        </div>
    </section>

    <section>
        <div>
            <h2>Technical Skills</h2>
            <ul class='triangle right'>
                <li>Python primarily using the Django web framework</li>
                <li>RESTful APIs and integrating with external APIs</li>
                <li>Javascript - from basic JQuery to single page apps using React and Angular</li>
                <li>Hybrid mobile apps</li>
                <li>Automated testing and advocate of CI</li>
                <li>Native iOS development</li>
                <li>Agile development methodologies</li>
                <li>Relational and noSQL databases</li>
                <li>Sysadmin and using automation tools</li>
                <li>Cloud server providers</li>
            </ul>
        </div>
    </section>

    <section>
        <div>
            <h2>Other Skills</h2>
            <ul class='triangle left'>
                <li>Multiple years experience in translating customer requirements and producing estimates.</li>
                <li>Comfortable communicating directly to clients and good ability to describe technical limitations and implementations.</li>
                <li>Experience managing technical aspects of projects and coordinating multiple developers.</li>
                <li>Comfortable using Adobe CS suite</li>
                <li>Experiecned working with designers</li>
            </ul>
        </div>
    </section>

    <section>
        <div>
            <h2>Experience</h2>
        </div>
    </section>

    <section>
        <div>
            <h2>DabApps Ltd - Engineer</h2>
            <h3>July 2012 - Present</h3>
        </div>
    </section>

    <section>
        <div>
            <p>I joined as a graduate after university with limited Python experience (the core language used at the agency) and picked up the skills needed to produce my first web app within a few months (<a href="http://www.dabapps.com/work/clients/twilbee/">Twilbee</a>). Within 12 months I had gained enough skills and trust to be technical lead on a small scale hybrid app and REST backend (https://www.travelplaces.mobi/).<br/><br/></p>

            <p>I also took the lead on a hybrid angular app and website (<a href="https://www.biteappy.com">Biteappy</a>). For this project I worked with a new graduate hire whom I had to take under my wing. The project included a large amount of functionality within a short deadline which we managed to achieve without cutting too many corners. After this project I became the go-to person for supporting new hires.<br/><br/></p>

            <p>The largest project I have worked on is <a href="https://racgaragecompare.co.uk/">TootCompare</a> (now rebranded). I started this site as a junior developer but as the site and my skills grew I became the project lead. In this role I instigated and implemented a gradual move to a service orientated API driven architecture which allowed us to easily produce several white label sites (<a href="https://bookmygarage.com/">BookMyGarage</a> and <a href="https://garagecompare.gocompare.com/">GoCompare Garage Compare</a>). This allowed a larger team to produce two new sites using more modern technologies without needing to fully understand or amend the legacy code within the core site.<br/><br/></p>
        </div>
    </section>

    <section>
        <div>
            <h2>Various - <br/>Freelance design and development</h2>
            <h3>2009 - Present</h3>
        </div>
    </section>

    <section>
        <div>
            <p>I have worked on a number of freelance design and development projects mostly creating custom  Wordpress themes. Other projects include a web app for controlling high end media servers and amends to native iOS apps. Some examples are a portfolio for a <a href="http://theshoelounge.net/">West Sussex shoe designer</a>, a portfolio/e-commerce site for a <a href="http://geoff-bailey.com/">photographer</a> and a portfolio site for an <a href="http://hannahtemple.co.uk/">illustrator</a>.</p>
        </div>
    </section>

    <section>
        <div>
            <h2>7th Sense Design Ltd - Digital Media Developer/Designer</h2>
            <h3>July 2010 - September 2011</h3>
        </div>
    </section>

    <section>
        <div>
            <p>The role included designing and developing a new company website and CMS, creating hi-res video/animation content, building PC based media servers, designing an iOS app, helping with phone support and producing promotional material. Due to the size and nature of the company’s work no one else had much experience with design, animation or web development. This meant I usually had to resolve my own issues and do a lot of self-directed learning.</p>
        </div>
    </section>

    <section>
        <div>
            <h2>Kineo Ltd - Freelance E-learning developer (Part-time)</h2>
            <h3>March 2010 - July 2010</h3>
        </div>
    </section>

    <section>
        <div>
            <p>Core tasks included creating and populating XML/Flash templates using pre-defined scripts and guidelines. I would often have to test other developers modules, produce/edit graphics and create short flash animations. I also gained experience with subversion using tortoiseSVN.</p>
        </div>
    </section>

    <section>
        <div>
            <h2>Education</h2>
        </div>
    </section>

    <section>
        <div>
            <h2>2008 – 2012<br/>Brighton University </h2>
            <h3>BSc Digital Media Development - 1st Class Honours</h3>
            <p>Awarded the SiteVisibility prize for the best student completing either BA Digital Media or BSc Digital Media Development.</p>

            <p>For my major project I created a mobile web app using the newest HTML5 features (app cache, local database etc) with a PHP MySQL backend. I also conducted a full usability test on the finished product.</p>
        </div>
    </section>

    <section>
        <div>
            <h2>2001 – 2008<br/>City of Bristol College &amp; St. Katherine’s School</h2>
            <p>3 A Levels: Computing, Media Studies and English Literature and Language</p>
            <p>12 GCSEs: grade A - C</p>
        </div>
    </section>

    <section>
        <div>
            <h2>Interests</h2>
            <p>I enjoy attending local programming meet ups particularly AsyncJS and BrightonPy. Outside of my work, I have a variety of other interests. I’m a keen runner, an avid film fan and always enjoy a good <a href="https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif">cat GIF</a>.</p>
        </div>
    </section>

{% endblock %}