html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #2D2D2D;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 300;
	padding: 0px;
}

h1, h2, h3, h4 {
	font-weight:700;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 22px;
	font-weight: 300;
}

a {
	color: #2D2D2D;
	text-decoration: underline;
	text-decoration-color: #FFE86B;
	transition: text-decoration-color 0.3s;
}

a:hover {
	text-decoration-color: #2D2D2D;
}